<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
       

        <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
            <div class="alert alert-danger" style="margin-bottom: 20px;">
                <%= errorMessage %>
            </div>
        <% } %>

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="email" id="email" name="email" required autocomplete="username">
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required autocomplete="current-password">
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-full-width">Entrar</button>
            </div>
        </form>

        <!-- <p class="login-footer">
            ¿Olvidaste tu contraseña? <a href="#">Recuperar</a>
        </p>
        <p class="login-footer">
            ¿No tienes cuenta? <a href="/registro-publico">Regístrate aquí</a>
        </p> -->
    </div>
</body>
</html>